.home{
    width: 100%;
    margin-bottom: 100px;
  }
  header {
    background-color: rgb(0, 92, 183);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index:10;
  }
  
  
  
  
  .logo img {
  height: 50px;
  margin-right: 20px;
  }
  
  nav ul {
  list-style: none;
  margin: 0 30px 0 0px;
  padding: 0;
  display: flex;
  
  }
  
  nav li {    
  margin-right: 30px;
  }
  
  nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  }
  
  nav a:hover {
  color: rgb(225, 225, 225);
  }
  .ittem {
    width: 50px;
    height: 50px;
  }
  .container{
    width: 50px;
  }
  
  .btn_home{
    width: 250px;
    background-color: rgba(0, 92, 183);
    padding: 10px;
    border-color: transparent;
  }
  
  .home a{
    text-decoration: none;
    color: rgb(223, 54, 54);
    font-size: 20px;
  }
  .home .btn_home:hover{
    background-color: rgb(3, 51, 100);
    transition: 1s;
  }
  
  .card-md-4 a{
    background-color: rgb(1, 63, 125);
    color: #ffffff;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
  .card-md-4 a:visited{
    background-color: rgb(1, 63, 125);
    color: #ffffff;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .services{
    width: 100%;
    margin-bottom: 150px;
  }
  .services .item{
    text-align: center;
    padding: 15px;
  }
  
  .services .icon{
    font-size: 30px;
  }
  
  .services h1{
    color: rgba(0, 92, 183);
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
  }
  .services h3{
    color: rgba(0, 92, 183);
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    padding-top: 5px;
  }
  
  .services .item{
    border-radius: 15px;
  }
  
  
  .Partners h1{
    color: rgba(0, 92, 183);
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-align:center ;
    padding-bottom: 20px;
  }
  
  .Partners{
    width: 50px;
    margin-bottom: 150px;
  }
  
  .about_us h1{
    color: rgba(0, 92, 183);
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .about_us p{
    color: rgba(0, 92, 183);
  }
  .services .row{
  padding: 10px;
  justify-content: space-between;
  
  }
  /*end landing*/
  
  /*start footer*/
  .footer {
    background-color: rgb(0, 92, 183);
    color: #ffffff;
    padding: 0px;
    display: flex;
    margin-left: -8px;
    width: 1600px;
    justify-content: space-between;
    align-items: center;
  }
  .left-footer {
    flex: 1;
    text-align: left;
    margin-left: 30px;
  }
  .middle-footer {
    flex: 1;
    text-align: center;
  }
  .right-footer {
    flex: 1;
    text-align: left;
  }
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer ul li {
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
  }
  .footer p {
    margin: 0;
  }
  .left-footer img {
    max-width: 100%;
    height: 75px;
    margin-bottom: 10px;
  }
  .copy {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    /* margin-top: -16px; */
    text-align: center;
    margin-left: -8px;
    margin-bottom:-10px;
    width: 1580px;
    /* height: 40px;     */
  }	
  
  a:visited {
    color: rgb(255, 255, 255);
  }