body {
    font-family: "Open Sans", sans-serif;
    background-color: whitesmoke;
}

header {
        background-color: rgb(0, 92, 183);
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        z-index:10;
    }
    
.logo img {
    height: 50px;
    margin-right: 20px;
}
    
nav ul {
    list-style: none;
    margin: 0 30px 0 0px;
    padding: 0;
    display: flex;

}
    
nav li {    
    margin-right: 30px;
}
    
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
    
nav a:hover {
    color: rgb(225, 225, 225);
}

/* ?????????????????????? */


.maintenance .container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.maintenance .container .img {
    width: 25%;
    height: 20%;
    margin-left: 50px;
}

.maintenance .container .book {
    margin-right: 450px;
    font-family: Almarai, sans-serif;
    padding: 0;
    box-sizing: border-box;
    color: #10255f;
    font-size: 24px;
    margin-left: 3px;
}

#span {
    color: rgb(0, 92, 183);
}

#icon {
    color: rgb(0, 92, 183);
    font-size: 30px;
    border-radius: 50px;
}

#span1 {
    color: black;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

#button {
    background-color: rgb(0, 92, 183);
    width: 350px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: 2px solid rgb(0, 92, 183);
}

#img1 {
    float: right;
    margin-right: 200px;
    width: 25%;
    height: 20%;
}

#span2 {
    font-family: Almarai, sans-serif;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 92, 183);
    font-size: 20px;
}

.book {
    margin-left: 50px;
    font-family: Almarai, sans-serif;
    padding: 0;
    box-sizing: border-box;
    color: #10255f;
    font-size: 20px;
}

#button2 {
    background-color: rgb(0, 92, 183);
    width: 350px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: 2px solid rgb(0, 92, 183);
    margin-left: 50px;
}

.form {
    position: relative;
    border-radius: 20px;
    margin-top: 150px;
    border: 2px solid rgb(227, 229, 232);
    width: 650px;
    height: 950px;
    margin-left: 400px;
}

.form .box {
    border-radius: 20px;
    background-color: white;
    display: block;
}

.h1send {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 92, 183);
    text-align: center;
}


/* .form .container {
    width: 2000px;
} */

.form .container .box .input {
    background: white;
    border: 2px solid rgb(0, 92, 183);
    box-shadow: none;
    color: rgb(0, 92, 183);
    width: 550px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
}

.form .container .box .input1 {
    background: white;
    border: 2px solid rgb(0, 92, 183);
    box-shadow: none;
    color: rgb(0, 92, 183);
    transition: all .5s;
    width: 550px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
}

.form .container .box .label {
    box-shadow: none;
    color: rgb(4, 69, 135);
    transition: all .5s;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.form .container .box .button {
    box-shadow: none;
    color: #101010;
    transition: all .5s;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    width: 550px;
    border-radius: 20px;
    background-color: rgb(0, 92, 183);
    color: white;
    border: 2px solid rgb(0, 92, 183);
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



/* ????????????????? */


.footer {
    margin-top: 60px;
    background-color: rgb(0, 92, 183);
    color: #ffffff;
    padding: 0px;
    display: flex;
    margin-left: -8px;
    width: 1600px;
    justify-content: space-between;
    align-items: center;
}
.left-footer {
    flex: 1;
    text-align: left;
    margin-left: 30px;
}
.middle-footer {
    flex: 1;
    text-align: center;
}
.right-footer {
    flex: 1;
    text-align: left;
}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer ul li {
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.footer p {
    margin: 0;
}
.left-footer img {
    max-width: 100%;
    height: 75px;
    margin-bottom: 10px;
}
.copy {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    /* margin-top: -16px; */
    text-align: center;
    margin-left: -8px;
    margin-bottom:-10px;
    width: 1580px;
    /* height: 40px;     */
}	

a:visited {
    color: rgb(255, 255, 255);
}